/* General */

.box {
  margin-bottom: 30px;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

/* utilities */
.mg-top-50 {
  margin-top: 50px;
}
/* header */
.navbar {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

.main-header .navbar {
  background-color: #2c3c53;
  text-transform: uppercase;
}

.main-header .navbar-nav li:hover {
  background-color: #fff;
}
.main-header .navbar-nav li a:hover {
  color: #000;
}

.main-header .navbar .navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}

.jumbotron img {
  width: 20%;
  margin: 0 auto;
}

.jumbotron {
  background-color: #1cba9b;
}

/* main */
main h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #1c2221;
}

/* Main center */
.main-center {
  background-color: #1cba9b;
}

.main-center .btn {
  padding: 15px 25px;
  background-color: #1cba9b;
  border: 2px solid #fff;
  transition: background 2s;
}

.main-center .btn i {
  font-size: 20px;
  margin-right: 8px;
}

.main-center .btn:hover {
  background-color: #fff;
  color: black;
}

.main-center .btn:hover i{
  background-color: black;
}

.main-center h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

.main-center p {
  font-size: 22px;
}

/* Main bottom */
.main-bottom form .btn {
  background-color: #1cba9b;
  padding: 15px 25px;
  color: #fff;
}

.main-bottom form .btn:hover {
  background-color: #408888;
}

.main-bottom form label {
  font-size: 20px;
  color: #757f8a;
  font-weight: 400;
}

/* footer */
footer {
  background-color: #29374b;
}

footer h3, p, i, span {
  color: #fff;
}

footer i {
  font-size: 30px;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: background 1s;
}

footer a {
  color: #39a996;
  font-size: 18px;
}

footer a:hover {
  color: #2d7a75;
  text-decoration: underline;
}

footer i:hover {
  color: #1c2221;
  background-color: #fff;
}

/* footer bottom */
footer .footer-bottom {
  background-color: #1c2221;
  padding-top: 30px;
  margin-top: 50px;
}
